*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gochi Hand", cursive;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

.logo-size {
  width: 70px;
}

.nav-bg {
  background: rgb(206, 206, 206);
}

.height-20 {
  height: 15vh;
}

.height-80 {
  height: 85vh;
}

.margin-15 {
  margin-top: 15vh;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.box-shadow-in {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.215);
  transition: box-shadow 0.1s linear;
}

.row-height {
  height: 50vh;
}

.sectionOne-bg {
  background: #e3e1e2;
}
