*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-size {
  height: 70px;
}

.nav-bg {
  background: rgb(227, 225, 226);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

.height-20 {
  height: 15vh;
}

.height-80 {
  height: 85vh;
}

.margin-15 {
  margin-top: 15vh;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100vw;
}

.box-shadow-in {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.215);
  transition: box-shadow 0.1s linear;
}
