*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gochi Hand", cursive;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}
body {
  background-image: linear-gradient(to bottom right, white, #432100);
}

.nav-logo {
  width: 40px;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.logo-size {
  width: 70px;
}

.nav-bg {
  background: rgb(216, 216, 216);
}

.nav-spacing {
  padding: 0;
}

.nav-menu {
  background: rgba(216, 216, 216, 0.3);
}

@media (min-width: 768px) {
  .media-height {
    height: 60vh;
  }
}

@media (min-width: 1000px) {
  .media-height {
    height: 85vh;
  }
}

.height-20 {
  height: 15vh;
}

.height-40 {
  height: 40vh;
}

.height-60 {
  height: 60vh;
}

.height-85 {
  height: 85vh;
}

.margin-5 {
  margin-top: 5vh;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.box-shadow-in {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.215);
  transition: box-shadow 0.1s linear;
}

.row-height {
  height: 50vh;
}

.sectionOne-bg {
  background-image: linear-gradient(to bottom right, white, #432100);
}

.sectionTwo-bg {
  background: #5c361e6d;
}

.projects-border {
  border: 2px solid #432100;
  border-radius: 1rem;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.projects-h1 {
  color: #432100;
}

.input-size {
  line-height: 100px !important;
}

.contact-border {
  border-radius: 0.5rem;
}
